{% extends ':app:edit.html.twig' %}


    {% block page_breadcrumb %}
        {{ parent() }}
        <li>
            <a href="{{ path('empleado_index') }}">Empleados</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            Editar
        </li>
    {% endblock %}
