{% extends ':app:new.html.twig' %}
{% block page_breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('institucion_index') }}">Insituciones</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        Nueva
    </li>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include ':app:document_collection_handler.js.twig' %}
{% endblock %}

